[submodule "datajoint-matlab"]
	path = datajoint-matlab
	url = https://github.com/klabhub/datajoint-matlab.git
	branch = sub-djmatlab
[submodule "fooofer"]
	path = fooofer
	url = https://github.com/mert-ozkan/fooofer.git
	branch = submod-dj
[submodule "dataop"]
	path = dataop
	url = https://github.com/mert-ozkan/dataop.git
	branch = submod-dj
